*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.title { 
    font-weight: 700;               

}

body{
    background-image: url(../img/Vector+1.svg); 
    background-size: cover;   /* So that the image covers the entire background */
    background-color: #0075FF;
    background-position: right top;
    position: absolute;
}

.container{
    position: relative;
    width: 100%;
    display: flex; 
    align-items: center;
    align-content: center;
}

.texts{
    margin-left: 50px;
    z-index: 1;
    color: white;
}

.title{
    font-size: 100px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    -webkit-text-stroke: 2px black;
    padding: 100px 0 50px 0;
}

.subtitle{
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 50px 0;
}

button{
    display: inline-block; /* This way we can modify the width and height.  */ 
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    font-size: 20px;
    background-color: #00D1FF;
}

button:hover{
    background-color: rgb(0, 81.96, 100, 0.9);
    text-decoration: underline;
}

button a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.image{
    position: relative; /* This gives us four options (top, right, left, down). */
    top: 150px;
    right: 50px;
    z-index: 1;

}